<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.day1.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/day1/hello.kh</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FrontController1</servlet-name>
        <servlet-class>com.pojo.step1.FrontMVC1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController1</servlet-name>
        <!-- *.st1하면 어떤 요청이름이 오든 확장자가 st1으로 끝나면 FrontMVC1 서블릿이인터셉트 한다. -->
        <url-pattern>*.st1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeptServlet</servlet-name>
        <servlet-class>com.day1.DeptManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeptServlet</servlet-name>
        <url-pattern>/jEasyUI/dept/insertAction.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.mvc.controller.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test/test.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SelectDeptServlet</servlet-name>
        <servlet-class>deptController.DeptController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectDeptServlet</servlet-name>
        <url-pattern>/dept/selectDept</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
</web-app>
<!-- Deployeement Descriptor : 배치서술자 spring maven 빌드 -> pom.xml 파일 등록 web.xml문서를 수정하면 반드시 서버를 내렸다가 다시 기동할것! 톰캣 서버를 기동하면 가장 먼저 읽는다. 이 문서를 읽으면 
    st1확장자에 대해 알고있다. st1으로 들어오는 모든 요청은 FrontMVC1.java가 인터셉트한다. 이 요청은 브라우저의 주소창에 하게 되고 이 요청의 URL을 읽어서 task 배열에 담는다. dept/getDeptList - select처리 - 
    화면 유지 - forward 페이지 이동 - 조회결과는 request에 담음 dept/deptInsert - insert처리 - 유지필요없음 -res.sendRedirect(페이지이름) -> path에 다음 dept/deptUpdate - update처리 
    -유지필요없음 -res.sendRedirect(페이지이름) -> path에 다음 dept/deptDelete - delete처리 - 유지필요없음 -res.sendRedirect(페이지이름) -> path에 다음 path를 관리하는 클래스명은 ActionForward이다. 
    이 클래스에는 전역변수가 두 개 있다. path에는 페이지 이름이 담겨있고 isRedirect에는 true(:res.sendRedirect) false(:RequestDispatcher view = req.getRequestDispatcher())가 담겨있다. 
    view.forward(req, res); 위 내용에 대한 설정은 어디서 했나? - FrontMVC1(doService)에서 -->
